.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 62vh;
  flex: 1 1 auto;
  position: relative;
}
.container div {
  padding: 10px 0;
}
.container__title span,
.container__title p {
  padding: 10px 0;
}
.container__title {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: "PF Encore Sans Pro";
  font-size: 51px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}
.container__title span {
  color: #fc635e;
  padding: 0 15px 0 0px;
}
.container__title::before,
.container__title::after {
  display: inline-block;
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  opacity: 0.2;
  margin: 0 25px;
}
.container__subtitle span {
  color: #ffffff;
  font-family: "PF Encore Sans Pro";
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.12px;
}
.container__button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: relative;
  width: 500px;
}
.container__button::after {
  flex: 1 1 auto;
}
.button__text {
  width: 205px;
  height: 56px;
  border: 2px solid #fc635e;
  border-radius: 15px;

  color: #fc635e;
  font-family: "PF Encore Sans Pro", unset;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.12px;
}
.button__mouse {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-start;
}
.button__mouse img:nth-child(1) {
  margin-left: 15px;
}
.button__mouse img:nth-child(2) {
  margin: 15px 0 0 10px;
}
.container__scroll {
  display: flex;
  position: absolute;
  bottom: 15px;
  background-image: url("../../../Files/Images/slider.png");

  width: 28px;
  height: 28px;

  align-items: flex-end;
  justify-content: flex-end;
}
